/* Style for the popup container */
.leaflet-popup {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 300px;
}

/* Style for the popup content */
.leaflet-popup-content {
  font-family: "Arial", sans-serif; /* Font style */
  color: #333; /* Text color */
  font-size: 18px; /* Font size */
}

.leaflet-popup-content-header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.leaflet-popup-content img {
  width: 100%;
  border-radius: 10px;
}

/* Style for the popup's arrow */
.leaflet-popup-tip {
  background-color: #fff; /* Color of the arrow */
  border-top-color: #fff; /* Arrow border color */
}
